.adm-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    left: 0;
}


.bd {
    border:2px dashed red;
}

.ft {
    font-size:30px;
}

#cl {
    color: deeppink
}